.footer {
   background-color: #FDA3C4;
   &__container {
      max-width: 1170px;
      margin: 0 auto;
      padding: 60px 15px;
      @media (max-width: 1001px) {
         padding: 60px 30px;
      }
      @media (max-width: 769px) {
         padding: 50px 15px;
      }
      @media (max-width: 531px) {
         padding: 40px 15px 89px;
      }
   }
   &__list {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 481px) {
         flex-wrap: wrap;
         justify-content: center;
      }
   }
   &__title {
      font-size: 18px;
      font-weight: 800;
      color: #F40000;
      margin-bottom: 25px;
      text-transform: uppercase;
      @media (max-width: 769px) {
         font-size: 16px;
         line-height: 16px;
      }
   }
   &__title_1 {
      @media (max-width: 769px) {
         display: none;
      }
   }
   &__title_2 {
      display: none;
      @media (max-width: 769px) {
         display: block;
      }
   }
}
.footer__item-info {
   .info__item:not(:last-child) {
      margin-bottom: 10px;
   }
   .info__link {
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      opacity: .5;
      &:hover {
         opacity: 1;
      }
      @media (max-width: 769px) {
         font-size: 11px;
         line-height: 14px;
         opacity: 1;
      }
      @media (max-width: 531px) {
         font-size: 10px;
         line-height: 12px;
      }
   }
   .info__icons {
      display: none;
      @media (max-width: 769px) {
         display: flex;
      }
   }
   .info__icon {
      &:not(:last-child){
         margin-right: 17px;
      }
   }
   @media (max-width: 481px) {
      margin: 0px 60px 27px 0px;
   }
}
.footer__item-location {
   .location__item:not(:last-child) {
      margin-bottom: 10px;
   }
   .location__link {
      font-size: 12px;
      line-height: 15px;
      color: #fff;
      opacity: .5;
      &:hover {
         opacity: 1;
      }
      @media (max-width: 769px) {
         font-size: 11px;
         line-height: 14px;
         opacity: 1;
      }
      @media (max-width: 531px) {
         font-size: 10px;
         line-height: 12px;
      }
   }
   .location__link_phone {
      display: none;
      @media (max-width: 769px) {
         display: block;
      }
   }
   .location__link_1 {
      @media (max-width: 769px) {
         display: none;
      }
   }
   .location__link_2 {
      display: none;
      @media (max-width: 769px) {
         display: block;
      }
   }
}
.footer__item-social {
   .social__icons {
      display: flex;
   }
   .social__icon {
      &:not(:last-child){
         margin-right: 17px;
      }
   }
   @media (max-width: 769px) {
      display: none;
   }
}
.footer__item-feedback {
   display: flex;
   .feedback__foto {
      background-image: url(/img/footer__foto.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 58px;
      height: 58px;
   }
   .feedback__text {
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      max-width: 156px;
      margin: 0px 0px 19px 31px;
      @media (max-width: 1001px) {
         margin-bottom: 15px;
      }
      @media (max-width: 769px) {
         font-size: 11px;
         line-height: 14px;
         margin-left: 15px;
      }
      @media (max-width: 531px) {
         font-size: 10px;
         line-height: 12px;
      }
      @media (max-width: 481px) {
         max-width: 177px;
      }
   }
   .feedback__title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 800;
      color: #F40000;
      padding-bottom: 12px;
      border-bottom: 1px solid #f40000;
      &:hover {
         text-shadow: 2px 2px 0px #000;
      }
      @media (max-width: 769px) {
         font-size: 16px;
         line-height: 16px;
      }
      @media (max-width: 481px) {
         margin-left: 15px;
      }
   }
}
.instagram-icon:hover > g > path {
   fill: #E1306C;
}
.facebook-icon:hover > g > path {
   fill: #0954e7;
}